.product {
  display: flex;
  margin-top: 50px;
}
.product-info {
  margin-left: 20px;
}
.product-name {
  color: blue;
  font-weight: 400;
}
.cart-btn {
  background-color: goldenrod;
  padding: 10px 30px;
  border: 1px solid black;
  color: white;
  cursor: pointer;
}
